<header class="container-fluid">
    <a class="btn btn-light" role="button" href="#">
        <img src="/images/icons/logo.png" alt="image" class="rounded">
    </a>
    
    <a class="btn btn-light" role="button" href="#menu-toggle" id="menu-toggle">
        <i class="fa fa-bars"></i>
    </a>
    
    <a class="btn btn-light float-right" role="button">
        <i class="fas fa-cog"></i>
    </a>

</header>
