<div class="container-fluid m-t-50 m-b-50">
    <div class="row justify-content-center">

        <div class="col-lg-2 col-md-3 col-sm-5 mx-3 my-5">
            <div class="card text-center">
                <h4 class="card-header bg-secondary">Today</h4>
                <div class="card-body">
                    <h5 class="card-title"><%= today %></h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-5 mx-3 my-5">
            <div class="card text-center">
                <h4 class="card-header bg-secondary">This Month</h4>
                <div class="card-body">
                    <h5 class="card-title"><%= thisMonth %></h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-5 mx-3 my-5">
            <div class="card text-center">
                <h4 class="card-header bg-secondary">Last Month</h4>
                <div class="card-body">
                    <h5 class="card-title"><%= lastMonth %></h5>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-5 mx-3 my-5">
            <div class="card text-center">
                <h4 class="card-header bg-secondary">All</h4>
                <div class="card-body">
                    <h5 class="card-title"><%= allTime %></h5>
                </div>
            </div>
        </div>
    </div>
</div>