<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 my-5">
            <div class="card text-center">
                <h4 class="card-header">Col 1</h4>
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 my-5">
            <div class="card text-center">
                <h4 class="card-header">Col 2</h4>
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-8 col-sm-12 mx-4 my-5">
            <div class="card text-center">
                <h4 class="card-header">Col 3</h4>
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                </div>
            </div>
        </div>
    </div>
</div>