<div id="sidebar-wrapper">
    <div class="sidebar-nav">
        <!-- <a href="/" class="sidebar-brand">Home </a> -->
        <a href="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard </a>

        <button class="dropdown-btn"><i class="fa fa-cart-plus"></i> Orders
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/addOrder">Add Order </a>
            <a href="/admin/editOrder">Edit Order </a>
            <a href="/admin/viewOrder">View Order </a>
        </div>
        
        <a href="/admin/product"><i class="fas fa-box-open"></i> Product </a>
        
        <a href="/admin/categories"><i class="fas fa-shapes"></i> Categories </a>

        <a href="/admin/tags"><i class="fa fa-tags"></i> Tags </a>

        <button class="dropdown-btn"><i class="fa fa-money"></i> Billing
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/addBill">Add Bill </a>
            <a href="/admin/editBill">Edit Bill </a>
            <a href="/admin/viewBill">View Bill </a>
        </div>
        
        <button class="dropdown-btn"><i class="fa fa-users"></i> Customers
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/addCustomer">Add Customer </a>
            <a href="/admin/editCustomer">Edit Customer </a>
            <a href="/admin/viewCustomer">View Customer </a>
        </div>
        
        <button class="dropdown-btn"><i class="fas fa-handshake"></i> Vendors
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/vendors/addVendor">Add Vendor </a>
            <a href="/admin/vendors/editVendor">Edit Vendor </a>
            <a href="/admin/vendors/viewVendor">View Vendor </a>
        </div>

        <button class="dropdown-btn"><i class="fa fa-user"></i> Employee
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/admin/employees/addEmployee">Add Employee </a>
            <a href="/admin/employees/editEmployee">Edit Employee </a>
            <a href="/admin/employees/viewEmployee">View Employee </a>
        </div>
        
        <a href="/admin/messaging"><i class="fa fa-envelope"></i> Messaging </a>

        <a href="/admin/statistic"><i class="fa fa-bar-chart-o"></i> Statistic </a>

        <a href="/employees/logout"><i class="fa fa-power-off"></i> Log Out</a>

    </div>
</div>