<div id="wrapper">

    <% include ./sidebar-wrapper %>

    <div class="page-content-wrapper">
        
        <% include ./header %>
        
        <div class="employee-form container-fluid m-t-50 m-b-50" style="display:none">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-12" style="border-radius: 15px; background-color: lightgray">
                    <div class="block mx-4 my-4">
                        
                        <div class="mx-4 my-4 block-title">
                            <h2>
                                <i class="fa fa-plus"></i>
                                <strong> Add </strong> New Employee
                            </h2>
                        </div>
                        <div class="block-form">
                            <% include ../partials/messages %>
                            <form action="/admin/employees/addEmployee" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="name"><b>Name</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="name"
                                            id="name"
                                            name="name"
                                            placeholder="Enter name..."
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="email"><b>Email</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="email"
                                            id="email"
                                            name="email"
                                            placeholder="Enter email..."
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="password"><b>Password</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="password"
                                            id="password"
                                            name="password"
                                            placeholder="Enter password..."
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="phone"><b>Phone Number</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="tel"
                                            id="phone"
                                            name="phone"
                                            placeholder="Enter Phone Number"
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="address"><b>Address</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="text"
                                            id="address"
                                            name="address"
                                            placeholder="Enter address..."
                                        />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="role"><b>Role</b></label>
                                    <div class="col-md-auto">
                                        <select class="select-chosen text-box" id="role" name="role" multiple>
                                            <option value="Admin">Admin</option>
                                            <option value="Employee">Employee</option>
                                            <option value="Partner">Partner</option>
                                            <option value="User">User</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="image"><i class="fa fa-picture-o"></i><b>Upload Your Photo</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                        class="form-control text-box" 
                                        >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-auto">
                                        <button type="submit" class="btn btn-sm btn-primary p-2 mr-2 btn-save">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                        <button type="reset" class="btn btn-sm btn-warning p-2 mr-2 btn-reset">
                                            <i class="fa fa-repeat"></i>
                                            Reset
                                        </button>
                                    </div>
                                    
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add User form -->
        <div class="employee-table container-fluid table-responsive m-t-50 m-b-50">
            <table class="table table-light table-striped table-bordered table-hover mx-8 my-8">
                <thead>
                    <tr>
                        <th class="th-sm" scope="col">Image</th>
                        <th class="th-sm" id="name" scope="col">Name</th>
                        <th class="th-sm" id="email" scope="col">Email</th>
                        <th class="th-sm" id="phone" scope="col">Phone</th>
                        <th class="th-sm" id="address" scope="col">Address</th>
                        <th class="th-sm" scope="col">Role</th>
                        <th class="th-sm" id="createdOn" scope="col">Added On</th>
                        <th class="th-sm" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="employee-table">
                </tbody>

                
            </table>
        </div>
        
    </div>

</div>
<script type="text/javascript" src="/js/employee.js"></script>