<div id="wrapper">

    <% include ./sidebar-wrapper %>

    <div class="page-content-wrapper">
        
        <% include ./header %>
        
        <div class="vendor-form container-fluid m-t-50 m-b-50" style="display:none">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10 col-sm-12" style="border-radius: 15px; background-color: lightgray">
                    <div class="block mx-4 my-4">
                        
                        <div class="mx-4 my-4 block-title">
                            <h2>
                                <i class="fa fa-plus"></i>
                                <strong> Add </strong> New Vendor
                            </h2>
                        </div>
                        <div class="block-form">
                            <form action="/admin/vendors/addVendor" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="name"><b>Name</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="name"
                                            id="name"
                                            name="name"
                                            placeholder="Enter name..."
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="email"><b>Email</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="email"
                                            id="email"
                                            name="email"
                                            placeholder="Enter email..."
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="phone"><b>Phone Number</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="tel"
                                            id="phone"
                                            name="phone"
                                            placeholder="Enter Phone Number"
                                        />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="company"><b>Company</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="text"
                                            id="company"
                                            name="company"
                                            placeholder="Enter company name..."
                                        />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="address"><b>Address</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                            class="form-control text-box"
                                            type="text"
                                            id="address"
                                            name="address"
                                            placeholder="Enter address..."
                                        />
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-auto control-label" for="image"><i class="fa fa-picture-o"></i><b>Upload Company Logo</b></label>
                                    <div class="col-md-auto">
                                        <input 
                                        type="file" 
                                        name="image" 
                                        id="image" 
                                        class="form-control text-box" 
                                        >
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-md-auto">
                                        <button type="submit" class="btn btn-sm btn-primary p-2 mr-2 btn-save">
                                            <i class="fa fa-floppy-o"></i>
                                            Save
                                        </button>
                                        <button type="reset" class="btn btn-sm btn-warning p-2 mr-2 btn-reset">
                                            <i class="fa fa-repeat"></i>
                                            Reset
                                        </button>
                                    </div>
                                    
                                </div>
                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add User form -->
        <div class="vendor-table container-fluid table-responsive m-t-50 m-b-50" >
            <table class="table table-light table-striped table-bordered table-hover mx-8 my-8">
                <thead>
                    <tr>
                        <th class="th-sm" scope="col">Company Logo</th>
                        <th class="th-sm" id="company" scope="col">Company Name</th>
                        <th class="th-sm" id="name" scope="col">Vendor Name</th>
                        <th class="th-sm" id="email" scope="col">Vendor Email</th>
                        <th class="th-sm" id="phone" scope="col">Vendor Phone</th>
                        <th class="th-sm" id="address" scope="col">Vendor Address</th>
                        <th class="th-sm" id="createdOn" scope="col">Added On</th>
                        <th class="th-sm" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="vendor-table"></tbody>
            </table>
        </div>
        
    </div>

</div>
<script type="text/javascript" src="/js/vendor.js"></script>