<div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="sidebar-nav">
            <a href="#" class="sidebar-brand">Home </a>
            <a href="/admin">Dashboard </a>
            <button class="dropdown-btn">Product
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addProduct">Add Product </a>
                <a href="/admin/editProduct">Edit Product </a>
                <a href="/admin/viewProducts">View Product </a>
            </div>
            <button class="dropdown-btn">Billing
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addBill">Add Bill </a>
                <a href="/admin/editBill">Edit Bill </a>
                <a href="/admin/viewBill">View Bill </a>
            </div>
            <button class="dropdown-btn">Customers
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addCustomer">Add Customer </a>
                <a href="/admin/editCustomer">Edit Customer </a>
                <a href="/admin/viewCustomer">View Customer </a>
            </div>
            <button class="dropdown-btn">Vendors
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addVendor">Add Vendor </a>
                <a href="/admin/editVendor">Edit Vendor </a>
                <a href="/admin/viewVendor">View Vendor </a>
            </div>
            <button class="dropdown-btn">Orders
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addOrder">Add Order </a>
                <a href="/admin/editOrder">Edit Order </a>
                <a href="/admin/viewOrder">View Order </a>
            </div>
            <button class="dropdown-btn">Users
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addUser">Add User </a>
                <a href="/admin/editUser">Edit User </a>
                <a href="/admin/viewUser">View User </a>
            </div>
            
            <a href="#">Messaging </a>
            
            <button class="dropdown-btn">Reports
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addReport">Add Report </a>
                <a href="/admin/editReport">Edit Report </a>
                <a href="/admin/viewReport">View Report </a>
            </div>
            
            <button class="dropdown-btn">Categories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="/admin/addCategory">Add Category </a>
                <a href="/admin/editCategory">Edit Category </a>
                <a href="/admin/viewCategory">View Category </a>
            </div>
        </div>
    </div>
    <div class="page-content-wrapper">
        <header class="container-fluid">
            <a class="btn btn-link" role="button" href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-bars"></i>
            </a>
        </header>

        <% include ./admin/productForm %>
        
    </div>
</div>