<!DOCTYPE html>
<html lang="en">
<head>
	<title>Giấy Dán Tường Thụy Điển Công Thành</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<% include ./partials/stylesheets %>
	<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body class="animsition">
	<!--===============================================================================================-->
	<!-- <script src="https://js.stripe.com/v3/"></script> -->
	
	<!-- Page Content -->
	<%- body %>

	<!-- Back to top button -->
	<% include ./admin/backToTopBtn %>

	<% include ./partials/scripting %>

</body>
</html>
