.block .form-group .text-box{
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%
}

.block .block-title .fa-plus {
    color: rgb(52, 122, 52);
}

.fa-plus {
    color: rgb(52, 122, 52);
}

#divider {
    border-top: 4px solid white;
}

/* Stripe Form */
.StripeElement, #card-name, #billingAddress, #name,
#shippingAddress, #city, #state, #zip, #country, #phone{
    background-color: white;
    height:40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #b8bcc0;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus, #card-name, #billingAddress, #name,
#shippingAddress, #city, #state, #zip, #country, #phone{
    box-shadow: 0 1px 3px 0 #b8bcc0;
}

.StripeElement--invalid{
    border-color: #e93916;
}

.StripeElement--webkit-autofill{
    background-color: #fefde5 !important;
}
