.block .form-group .text-box{
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%
}

.block .block-title .fa-plus {
    color: rgb(52, 122, 52);
}

.fa-plus {
    color: rgb(52, 122, 52);
}